/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-ISS .header {
  color: cyan;               /* Header color. Default is white. */
  text-align: center;
}


.MMM-ISS .velocity {
  color: cyan;               /* velocity color. Default is white. */
  text-align: center;
}

.MMM-ISS .altitude {
  color: cyan;               /* altitude color. Default is white. */
  text-align: center;
}

.MMM-ISS .risetime {
  color: #FFFFFF;               /* risetime color. Default is white. */
  text-align: center;
}

.MMM-ISS .duration {
  color: #FFFFFF;               /* duration color. Default is white. */
  text-align: center;
}

.MMM-ISS .spacer {
  color: cyan;              /* spacer color. Default is white. */
}


-webkit-scrollbar {
	display: none;
}

/*

<div style='display:inline-block; border: 1px solid #CCC; border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; position: relative; overflow: hidden; width: 310px; height: 450px;'> <iframe src='https://spotthestation.nasa.gov/widget/widget.cfm?country=United_States&region=New_York&city=Staten_Island&theme=2' width='310' height='450' frameborder='0' ></iframe></div>

<div style='display:inline-block; border: 1px solid #CCC; border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; position: relative; overflow: hidden; width: 310px; height: 450px;'> <iframe src='https://spotthestation.nasa.gov/widget/widget.cfm?country=United_States&region=New_York&city=Staten_Island&theme=2' width='310' height='450' frameborder='0' ></iframe></div>